.color {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  transition: all 0.2s;
  transition: width 300ms ease-in;
  width: 100%;
}

.color-container {
  height: auto;
  font-size: 30px;
  position: relative;
}

.color-footer {
  height: 70px;
  position: absolute;
  bottom: 35px;
  left: 25px;
  overflow: hidden;
  right: 25px;
  opacity: 0;
  display: none;
  max-width: 400px;
  margin: 0 auto;
  animation-fill-mode: backwards;

  .color:last-of-type & {
    opacity: 1;
    display: block;
    animation: fade-in 500ms cubic-bezier(.17,.89,.56,1.22);
    animation-fill-mode: backwards;
  }

  .color:first-of-type & {
    animation-delay: 50ms;
  }

  .onboarding-active &,
  .color-animation-leave &,
  .color:nth-of-type(5) & .like, {
    display: none !important;
  }

  .color-animation-enter.color-animation-enter-active & {
    display: none;
    animation-play-state: paused !important;
  }
}

.instructions-container {
  // width: 46px;
  margin: 0;
  opacity: 0.8;
  position: absolute;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  .theme-light &:hover .keyboard-button {
    background-color: #FFF;
    color: #444;
  }

  .theme-dark &:hover .keyboard-button {
    background-color: #444;
    color: #FFF;
  }


  &.dislike {
    left: 0;
  }

  &.remove {
    left: 50%;
    transform: translateX(-50%);
  }

  .color:nth-of-type(5) &.remove {
    right: 0;
    left: auto;
    transform: none;
  }

  .color:nth-of-type(1) &.remove {
    display: none;
  }


  &.like {
    right: 0;
  }

  span {
    display: block;
  }
}

.keyboard-button {
  margin: 0 auto 7px;
  display: inline-block;
  padding: 0 15px;
  line-height: 40px;
  position: relative;
  border: solid 2px #FFF;
  text-align: center;
  border-radius: 4px;
  transition: all 400ms cubic-bezier(.17,.89,.56,1.22);

  .instructions-container & {
    width: 46px;
    padding: 0;
  }
}

.keyboard-text {
  text-align: center;
  width: 100%;
}

.spinner {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40px;
  display: none;
  width: 100px;
  text-align: center;

  & > div {
    width: 14px;
    height: 14px;
    margin: 0 8px;
    text-align: justify;
    border-radius: 100%;
    display: inline-block;
    animation: bounce-with-delay 1.2s infinite ease-in-out both;
  }

  .bounce1 {
    animation-delay: -0.32s;
  }

  .bounce2 {
    animation-delay: -0.16s;
  }

  .searching li:last-of-type & {
    display: block;
  }
}

.color-animation-enter {
  width: 0.01%;
  overflow: hidden;

  &.color-animation-enter-active {
    width: 100%;
    transition: width 300ms linear;
  }
}

.color-animation-leave {
  width: 100%;
  overflow: hidden;

  &.color-animation-leave-active {
    width: 0.01%;
    transition: width 300ms linear;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0.8;
    transform: translateY(0px);
  }
}

@keyframes bounce-with-delay {
  0%, 80%, 100% {
    transform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(1.0);
    opacity: 1;
  }
}
