.picker {
  width: 230px;
  padding: 10px 10px 0;
  background: #fff;
  left: 50%;
  margin-left: -115px;
  margin-right: auto;
  border-radius: 4px;
  position: relative;
  z-index: 1100;
}

.saturation {
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  padding-bottom: 60%;
  position: relative;
  width: 100%;
}

.saturation-main {
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.15), inset 0 0 4px rgba(0,0,0,.25);
}

.controls {
  display: flex;
}

.popover {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  margin: 15px auto 0;

  &:before {
    content: '';
    box-shadow: 0 8px 16px rgba(0,0,0,.15);
    height: 100%;
    width: 230px;
    top: 0;
    left: 50%;
    right: 0;
    margin-left: -115px;
    border-radius: 4px;
    position: absolute;
    z-index: 800;
  }

  &:after {
    content: '';
    filter: drop-shadow(0 8px 16px rgba(0,0,0,.15));
    position: absolute;
    top: -15px;
    width: 0;
    height: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #FFF;
    z-index: 900;
  }
}

.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 35px;
  z-index: 900;
  left: 0;

  &.onboarding {
    z-index: 1100;
    cursor: auto;
  }
}

.sliders {
  padding: 10px 0;
  flex: 1;
}

.hue {
  position: relative;
  height: 15px;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;

  * {
    height: 95% !important;
  }

  > div {
    height: 100% !important;
  }
}

.color-picker-animation-enter {
  transform: scale(0.01, 0.01);

  &.color-picker-animation-enter-active {
    transform-origin: 50% 0%;
    transform: scale(1, 1);
    transition: transform 175ms cubic-bezier(.17,.89,.56,1.22);
  }
}

.color-picker-animation-leave {
  transform: scale(1, 1);

  &.color-picker-animation-leave-active {
    transform-origin: 50% 0%;
    transform: scale(0.01, 0.01);
    transition: transform 175ms cubic-bezier(.56, -.22, .83, .89);
  }
}
