.color-text {
  opacity: 0.7;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'ASAP';
  text-align: center;
  font-size: 30px;
  transition: opacity 0.25s ease-in-out;
  font-weight: 400;
  width: 100%;
  z-index: 100;
  position: relative;

  &:hover, &:focus {
    opacity: 1;
  }
}
