footer {
  width: 100%;
  color: #444;
  align-items: center;
  position: relative;
  z-index: 100000000;
  background: #FFF;
  display: flex;
  padding: 0 25px;
  height: 35px;
}

.footer-icon {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  margin-right: 15px;
  position: relative;

  &.twitter {
    background-image: url('twitter.svg');
  }

  &.github {
    background-image: url('github.svg');
  }
}

.footer-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  text-align: right;

  .footer-name {
    font-weight: 600;
    color: #444;
    transition: color 0.25s ease-in-out;

    &:hover {
      color: #000;
    }
  }
}

.tutorial {
  cursor: pointer;
  color: #444;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  transition: all 0.25s ease-in-out;
  user-select: none;

  &:hover {
    color: #000;
  }
}
