* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  color: #FFF;
  height: 100%;
  font-family: 'Asap';
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  overflow: hidden;
}

.root-container {
  min-width: 725px;
}

h1 {
  margin: 0;
}

span, p {
  -webkit-font-smoothing: antialiased;
}

ul {
  margin: 0;
  padding: 0;
}

a, a:visited, a:active {
  color: #FFF;
  text-decoration: none;
}

li {
  list-style: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0.8;
    transform: translateY(0px);
  }
}

.main-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mobile-notice {
  display: none;
}

.is-mobile {
  .mobile-notice {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000000;
    flex-direction: column;
    background: #FFF;

    h1 {
      color: #444;
    }

    p {
      color: #999;
      max-width: 450px;
      width: 100%;
      font-weight: 400;
      padding: 0 15px;
      line-height: 30px;
      text-align: center;
    }

    .twitter-follow-button {
      color: #FFF;
      border-radius: 3px;
      padding: 10px 15px;
      background-color: #1B95E0;
    }
  }

  .main-container,
  .theme-light *,
  .theme-dark *, {
    display: none;
  }

  &.root-container {
    min-width: 0;
  }
}
