* {
  box-sizing: border-box;
}

.theme-dark,
.theme-light {
  height: auto;
}

.popover {
  height: auto;
}

html, body, #root {
  margin: 0;
  padding: 0;
  color: #FFF;
  height: 100%;
  font-family: 'Asap';
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  overflow: hidden;
  min-width: 650px;
}

h1 {
  margin: 0;
}

span, p {
  -webkit-font-smoothing: antialiased;
}

ul {
  margin: 0;
  padding: 0;
}

a, a:visited, a:active {
  color: #FFF;
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  padding: 10px;
  border: solid 2px #FFF;
  border-radius: 3px;
  color: #FFF;
  font-size: 18px;
  height: auto;
  text-decoration: none;
}

.header-bar {
  position: absolute;
  height: auto;
  padding: 20px;
  width: 100%;
  top: 0;
  left: 0;
}

.title {
  margin: 0;
  position: absolute;
  top: 25px;
  font-size: 12px;
  letter-spacing: 1px;
  left: 25px;
  height: auto;
  z-index: 1000;
}

.btn {
  float: right;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #FFF;
  color: #000;
}

.color-list {
  display: flex;
  width: 100%;
  height: 100%;
}

.color {
  width: 100%;
  transition: all 0.2s;
  display: flex;
  transition: width 300ms ease-in;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.color-container {
  height: auto;
  font-size: 30px;
  position: relative;
}

.spinner {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 55%;
  display: none;
  width: 100px;
  text-align: center;
}

.spinner > div {
  width: 14px;
  height: 14px;
  margin: 0 8px;
  text-align: justify;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.color-animation-enter {
  width: 0.01%;
}

.color-animation-enter.color-animation-enter-active {
  width: 100%;
  transition: width 300ms linear;
}

.color-animation-leave {
  width: 100%;
}

.color-animation-leave.color-animation-leave-active {
  width: 0.01%;
  transition: width 300ms linear;
}

.searching li:last-of-type .spinner {
  display: block;
}

/**********************************
Onboarding Container
**********************************/
.onboarding-container {
  width: 100%;
  position: absolute;
  height: 180px;
  bottom: 5%;
  min-width: 650px;
  z-index: 1000;
}

.onboarding-container p,
.onboarding-container span {
  text-align: center;
  line-height: 39px;
}

.keyboard-button {
  margin: 0 10px;
  display: inline-block;
  padding: 0 15px;
  height: auto;
  position: relative;
  border: solid 2px #FFF;
  border-radius: 4px;
}

.helper-text {
  font-weight: 400;
}

.step {
  width: 330px;
  margin: auto;
  height: auto;
  position: absolute;
}

.step-one {
  text-align: center;
  left: 0;
  right: 0;
}

.step-two,
.step-three {
  margin-left: 75%;
  transform: translateX(-50%);
}

/**********************************
Onboarding Animation
**********************************/
.onboarding-animation-enter {
  opacity: 0.01;
}

.onboarding-animation-enter.onboarding-animation-enter-active {
  opacity: 1;
  transition: opacity 150ms linear;
}

.onboarding-animation-leave {
  opacity: 1;
}

.onboarding-animation-leave.onboarding-animation-leave-active {
  opacity: 0.01;
  transition: opacity 150ms linear;
}

/**********************************
Color Picker Icon
**********************************/
.color-picker-icon {
  cursor: pointer;
  width: 40px;
  margin: 60px auto 0;
  opacity: 0.4;
  transition: opacity 0.25s ease-in-out;
}

.color-picker-icon:hover {
  opacity: 1;
}

.color-picker-icon:hover .line-container:nth-child(1) .circle {
  transform: translateX(-23px);
}

.color-picker-icon:hover .line-container:nth-child(2) .circle {
  transform: translateX(23px);
}

.color-picker-icon:hover .line-container:nth-child(3) .circle {
  transform: translateX(-5px);
}

.line-container {
  margin: 9px 0;
  position: relative;
}

.line {
  height: 3px;
  background-color: #444;
  border-radius: 2px;
}

.circle {
  height: 7px;
  width: 7px;
  position: absolute;
  background-color: #444;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: transform 0.25s ease-in-out;
}

.line-container:nth-child(1) .circle {
  right: 5px;
}

.line-container:nth-child(2) .circle {
  left: 5px;
}

.line-container:nth-child(3) .circle {
  left: 50%;
  margin-left: -4px;
}

/**********************************
Color Name Container
**********************************/

.animating .color-text {
  animation: fade-out-in 1s ease-in-out;
}

.animating .status-text {
  animation: bounce-in-out 1s ease-in-out;
}

.color-text {
  opacity: 0.4;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'ASAP';
  text-align: center;
  font-size: 30px;
  transition: opacity 0.25s ease-in-out;
  font-weight: 400;
}

.color-text:hover,
.color-text:focus {
  opacity: 1;
}

.status-text {
  position: absolute;
  top: 0;
  opacity: 0;
}

@keyframes fade-out-in{
  0% {
    opacity: 0.4;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes bounce-in-out {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

/**********************************
Color Picker
**********************************/

.picker {
  width: 225px;
  padding: 10px 10px 0;
  box-sizing: initial;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 8px 16px rgba(0,0,0,.15);
}

.saturation {
  width: 100%;
  padding-bottom: 60%;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}


.saturation-main {
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.15), inset 0 0 4px rgba(0,0,0,.25);
}

.controls {
  display: flex;
}

.popover {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.cover {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sliders {
  padding: 10px 0;
  flex: 1;
}

.hue {
  position: relative;
  height: 15px;
  border-radius: 3px;
  overflow: hidden;
}

.hue * {
  height: 95% !important;
}

.hue > div {
  height: 100% !important;
}

/**********************************
Tweet Link
**********************************/
.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.social-bar {
  width: 100%;
  color: #444;
  padding: 10px 25px;
}

.social-icon {
  float: left;
  background-image: url('twitter.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  position: relative;
}

.social-text {
  float: right;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}

a.social-name {
  font-weight: 600;
  color: #444;
  transition: color 0.25s ease-in-out;
}

a.social-name:hover {
  color: #000;
}

.tweet {
  padding: 10px 15px 10px 35px;
  border: solid 2px #FFF;
  border-radius: 4px;
  position: absolute;
  bottom: 25px;
  left: 25px;
  height: auto;
  cursor: pointer;
  z-index: 1000;
  font-size: 13px;
}

.tweet:before {
  position: absolute;
  content: '';
  background-image: url('twitter-logo.svg');
  background-size: cover;
  height: 14px;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 18px;
}

/**********************************
Theming
**********************************/

.theme-dark a,
.theme-dark h1,
.theme-dark p,
.theme-dark input {
  color: #444;
}

.theme-light a,
.theme-light h1,
.theme-light p,
.theme-light input {
  color: #FFF;
}

.theme-dark .keyboard-button {
  border: solid 2px #444;
}

.theme-light .keyboard-button {
  border: solid 2px #FFF;
}

.theme-light .spinner div,
.theme-light .line,
.theme-light .circle {
  background-color: #FFF;
}

.theme-dark .spinner div,
.theme-dark .line,
.theme-dark .circle {
  background-color: #444;
}

.loading {
  position: absolute;
  z-index: 10000;
  top:0;
  left: 0;
}


@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
