* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  color: #FFF;
  height: 100%;
  font-family: 'Asap';
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  overflow: hidden; }

.root-container {
  min-width: 725px; }

h1 {
  margin: 0; }

span, p {
  -webkit-font-smoothing: antialiased; }

ul {
  margin: 0;
  padding: 0; }

a, a:visited, a:active {
  color: #FFF;
  text-decoration: none; }

li {
  list-style: none; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px); }
  100% {
    opacity: 0.8;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px); }
  100% {
    opacity: 0.8;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

.main-container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh; }

.mobile-notice {
  display: none; }

.is-mobile .mobile-notice {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100000000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #FFF; }
  .is-mobile .mobile-notice h1 {
    color: #444;
    margin: -70px;
    display: block; }
  .is-mobile .mobile-notice p {
    color: #999;
    max-width: 450px;
    width: 100%;
    font-weight: 400;
    padding: 0 15px;
    line-height: 30px;
    text-align: center; }
  .is-mobile .mobile-notice .twitter-follow-button {
    color: #FFF;
    border-radius: 3px;
    padding: 15px 20px;
    background-color: #1B95E0; }

.is-mobile .main-container,
.is-mobile .theme-light *,
.is-mobile .theme-dark * {
  display: none; }

.is-mobile.root-container {
  min-width: 0; }
.title {
  margin: 0;
  position: absolute;
  top: 25px;
  font-size: 12px;
  letter-spacing: 1px;
  left: 25px;
  height: auto;
  z-index: 10000; }
.theme-dark a, .theme-dark h1, .theme-dark p, .theme-dark input, .theme-dark span {
  color: #444; }

.theme-dark .keyboard-button {
  border: solid 2px #444; }

.theme-dark .spinner div, .theme-dark .line, .theme-dark .circle {
  background-color: #444; }

.theme-light a, .theme-light h1, .theme-light p, .theme-light input, .theme-light span {
  color: #FFF; }

.theme-light .keyboard-button {
  border: solid 2px #FFF; }

.theme-light .spinner div, .theme-light .line, .theme-light .circle {
  background-color: #FFF; }
footer {
  width: 100%;
  color: #444;
  padding: 10px 25px;
  position: relative;
  z-index: 100000000;
  background: #FFF; }

.footer-icon {
  float: left;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  margin-right: 15px;
  position: relative; }
  .footer-icon.twitter {
    background-image: url(5c9709e38736bbc2755d4051e2226fd8.svg); }
  .footer-icon.github {
    background-image: url(35e119ce0a99bce638e64f2772948a0b.svg); }

.footer-text {
  float: right;
  margin: 0;
  font-weight: 400;
  font-size: 14px; }
  .footer-text .footer-name {
    font-weight: 600;
    color: #444;
    -webkit-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out; }
    .footer-text .footer-name:hover {
      color: #000; }
.color-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%; }
.color {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition: width 300ms ease-in;
  transition: width 300ms ease-in;
  width: 100%; }

.color-container {
  height: auto;
  font-size: 30px;
  position: relative; }

.color-footer {
  height: 70px;
  position: absolute;
  bottom: 35px;
  left: 25px;
  overflow: hidden;
  right: 25px;
  opacity: 0;
  max-width: 400px;
  margin: 0 auto;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }
  .color:nth-of-type(5) .color-footer .like {
    opacity: 0; }
  .color:last-of-type .color-footer {
    opacity: 0.8;
    -webkit-animation: fade-in 500ms cubic-bezier(0.17, 0.89, 0.56, 1.22);
    animation: fade-in 500ms cubic-bezier(0.17, 0.89, 0.56, 1.22);
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .color:first-of-type .color-footer {
    -webkit-animation-delay: 50ms;
    animation-delay: 50ms; }
  .color-animation-leave .color-footer {
    -webkit-animation-delay: 350ms;
    animation-delay: 350ms;
    display: none; }
  .color-animation-enter.color-animation-enter-active .color-footer {
    display: none;
    -webkit-animation-play-state: paused !important;
    animation-play-state: paused !important; }
  .onboarding-active .color-footer {
    display: none; }

.instructions-container {
  width: 45px;
  margin: 0;
  position: absolute; }
  .instructions-container.dislike {
    left: 0; }
  .instructions-container.like {
    right: 0; }
  .instructions-container span {
    display: block;
    margin: 5px auto 0;
    float: left;
    clear: both; }

.keyboard-button {
  margin: 0 10px;
  display: inline-block;
  padding: 0 15px;
  line-height: 40px;
  position: relative;
  border: solid 2px #FFF;
  border-radius: 4px; }

.keyboard-text {
  text-align: center;
  width: 100%; }

.spinner {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40px;
  display: none;
  width: 100px;
  text-align: center; }
  .spinner > div {
    width: 14px;
    height: 14px;
    margin: 0 8px;
    text-align: justify;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both; }
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }
  .searching li:last-of-type .spinner {
    display: block; }

.color-animation-enter {
  width: 0.01%;
  overflow: hidden; }
  .color-animation-enter.color-animation-enter-active {
    width: 100%;
    -webkit-transition: width 300ms linear;
    transition: width 300ms linear; }

.color-animation-leave {
  width: 100%;
  overflow: hidden; }
  .color-animation-leave.color-animation-leave-active {
    width: 0.01%;
    -webkit-transition: width 300ms linear;
    transition: width 300ms linear; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px); }
  100% {
    opacity: 0.8;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px); }
  100% {
    opacity: 0.8;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
.color-text {
  opacity: 0.7;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'ASAP';
  text-align: center;
  font-size: 30px;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  font-weight: 400;
  width: 100%; }
  .color-text:hover, .color-text:focus {
    opacity: 1; }
.picker {
  width: 230px;
  padding: 10px 10px 0;
  background: #fff;
  left: 50%;
  margin-left: -115px;
  margin-right: auto;
  border-radius: 4px;
  position: relative;
  z-index: 1100; }

.saturation {
  width: 100%;
  padding-bottom: 60%;
  position: relative;
  overflow: hidden;
  border-radius: 3px; }

.saturation-main {
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 4px rgba(0, 0, 0, 0.25); }

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.popover {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  margin: 15px auto 0; }
  .popover:before {
    content: '';
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    height: 100%;
    width: 230px;
    top: 0;
    left: 50%;
    right: 0;
    margin-left: -115px;
    border-radius: 4px;
    position: absolute;
    z-index: 800; }
  .popover:after {
    content: '';
    -webkit-filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.15));
    filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.15));
    position: absolute;
    top: -15px;
    width: 0;
    height: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #FFF;
    z-index: 900; }

.cover {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 35px;
  z-index: 900;
  left: 0; }
  .cover.onboarding {
    z-index: 1100;
    cursor: auto; }

.sliders {
  padding: 10px 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.hue {
  position: relative;
  height: 15px;
  border-radius: 3px;
  overflow: hidden; }
  .hue * {
    height: 95% !important; }
  .hue > div {
    height: 100% !important; }

.color-picker-animation-enter {
  -webkit-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01); }
  .color-picker-animation-enter.color-picker-animation-enter-active {
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: -webkit-transform 175ms cubic-bezier(0.17, 0.89, 0.56, 1.22);
    transition: -webkit-transform 175ms cubic-bezier(0.17, 0.89, 0.56, 1.22);
    transition: transform 175ms cubic-bezier(0.17, 0.89, 0.56, 1.22);
    transition: transform 175ms cubic-bezier(0.17, 0.89, 0.56, 1.22), -webkit-transform 175ms cubic-bezier(0.17, 0.89, 0.56, 1.22); }

.color-picker-animation-leave {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1); }
  .color-picker-animation-leave.color-picker-animation-leave-active {
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scale(0.01, 0.01);
    transform: scale(0.01, 0.01);
    -webkit-transition: -webkit-transform 175ms cubic-bezier(0.56, -0.22, 0.83, 0.89);
    transition: -webkit-transform 175ms cubic-bezier(0.56, -0.22, 0.83, 0.89);
    transition: transform 175ms cubic-bezier(0.56, -0.22, 0.83, 0.89);
    transition: transform 175ms cubic-bezier(0.56, -0.22, 0.83, 0.89), -webkit-transform 175ms cubic-bezier(0.56, -0.22, 0.83, 0.89); }
.color-picker-icon {
  cursor: pointer;
  margin: 65px auto 0;
  opacity: 0.35;
  position: relative;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  width: 40px;
  z-index: 1000; }
  .color-picker-icon:hover {
    opacity: 1; }
    .color-picker-icon:hover .line-container:nth-child(1) .circle {
      -webkit-transform: translateX(-23px);
      transform: translateX(-23px); }
    .color-picker-icon:hover .line-container:nth-child(2) .circle {
      -webkit-transform: translateX(23px);
      transform: translateX(23px); }
    .color-picker-icon:hover .line-container:nth-child(3) .circle {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px); }
  .onboarding-active .color-picker-icon {
    opacity: 0; }

.line-container {
  margin: 9px 0;
  position: relative; }

.line {
  background-color: #444;
  border-radius: 2px;
  height: 3px; }

.circle {
  background-color: #444;
  border-radius: 50%;
  bottom: 0;
  height: 7px;
  margin: auto;
  position: absolute;
  position: absolute;
  top: 0;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  width: 7px; }
  .line-container:nth-child(1) .circle {
    right: 5px; }
  .line-container:nth-child(2) .circle {
    left: 5px; }
  .line-container:nth-child(3) .circle {
    left: 50%;
    margin-left: -4px; }

.status-text {
  opacity: 0;
  position: absolute;
  top: 0; }
.onboarding-container {
  width: 100%;
  position: absolute;
  height: 180px;
  top: 62%;
  margin-top: -90px;
  min-width: 650px;
  z-index: 1100; }
  .onboarding-container p, .onboarding-container span {
    text-align: center;
    line-height: 39px; }

.helper-text {
  font-weight: 400;
  -webkit-animation: fade-in 500ms cubic-bezier(0.17, 0.89, 0.56, 1.22);
  animation: fade-in 500ms cubic-bezier(0.17, 0.89, 0.56, 1.22);
  opacity: 0.8;
  margin-top: 0; }

.instructions {
  -webkit-animation: fade-in 500ms cubic-bezier(0.17, 0.89, 0.56, 1.22);
  animation: fade-in 500ms cubic-bezier(0.17, 0.89, 0.56, 1.22);
  -webkit-animation-delay: 425ms;
  animation-delay: 425ms;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  margin: 0; }

.step {
  width: 336px;
  margin: auto;
  height: auto;
  position: absolute; }

.step-one {
  text-align: center;
  left: 0;
  right: 0; }

.step-two,
.step-three {
  margin-left: 75%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.onboarding-animation-enter {
  opacity: 0.01; }
  .onboarding-animation-enter.onboarding-animation-enter-active {
    opacity: 1;
    -webkit-transition: opacity 150ms linear;
    transition: opacity 150ms linear; }

.onboarding-animation-leave {
  opacity: 1; }
  .onboarding-animation-leave.onboarding-animation-leave-active {
    opacity: 0.01;
    -webkit-transition: opacity 150ms linear;
    transition: opacity 150ms linear; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px); }
  100% {
    opacity: 0.8;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px); }
  100% {
    opacity: 0.8;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
