@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.colorList {
  animation: fade-in 200ms ease-out;
  display: flex;
  width: 100%;
  flex-grow: 2;
  flex-basis: 100%;
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader {
  animation: fade-in 300ms ease-out;
  animation-delay: 500ms;
  animation-fill-mode: backwards;
}

.flexItemWrapper {
  flex: 1;
}

.flexEnter {
  flex: 0.00001 !important;
}

.flexEnterActive {
  flex: 1 !important;
  transition: flex 400ms ease-out;
}

.flexExit {
  flex: 1 !important;
}

.flexExitActive {
  flex: 0.00001 !important;
  transition: flex 400ms ease-out;
}

@media only screen and (max-width: 768px) {
  .colorList {
    flex-direction: column;
  }
}
