@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loaderContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-delay: 125ms;
  animation: fade-in 125 ease-out;
}

.tools {
  display: flex;
  height: 100%;
  align-items: center;
}

.colorListItem {
  position: relative;
  width: 100%;
  flex: 1;
  height: 100%;
  z-index: 100;
  overflow: hidden;
}

.colorListItemBackground {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: background-color 200ms ease-out;
}

.toolIcons {
  position: relative;
  z-index: 1000;
}

@media only screen and (max-width: 768px) {
  .toolIcons,
  .footer {
    display: none;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: auto;
  z-index: 100000;
  width: 100%;
  max-width: 50vw;
  right: auto;
}

.fadeEnter {
  opacity: 0.01;
}

.fadeEnterActive {
  opacity: 1;
  transition: opacity 200ms ease-out 200ms;
}

.fadeExit {
  opacity: 1;
  overflow: hidden;
}

.fadeExitActive {
  opacity: 0.01;
  transition: opacity 200ms ease-out;
}
