.onboarding-container {
  width: 100%;
  position: absolute;
  height: 180px;
  top: 62%;
  margin-top: -90px;
  min-width: 725px;
  z-index: 1100;

  p, span {
    text-align: center;
    line-height: 39px;
  }
}

.helper-text {
  font-weight: 400;
  animation: fade-in 500ms cubic-bezier(.17,.89,.56,1.22);
  opacity: 0.8;
  margin-top: 0;
}

.instructions {
  animation: fade-in 500ms cubic-bezier(.17,.89,.56,1.22);
  animation-delay: 425ms;
  animation-fill-mode: backwards;
  margin: 0;
}

.step {
  width: 336px;
  margin: auto;
  height: auto;
  position: absolute;
}

.step-one {
  text-align: center;
  left: 0;
  right: 0;
}

.step-two,
.step-three {
  margin-left: 75%;
  transform: translateX(-50%);
}


.onboarding-animation-enter {
  opacity: 0.01;

  &.onboarding-animation-enter-active {
    opacity: 1;
    transition: opacity 150ms linear;
  }
}

.onboarding-animation-leave {
  opacity: 1;

  &.onboarding-animation-leave-active {
    opacity: 0.01;
    transition: opacity 150ms linear;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0.8;
    transform: translateY(0px);
  }
}
