footer {
  width: 100%;
  color: #444;
  padding: 10px 25px;
  position: relative;
  z-index: 100000000;
  background: #FFF;
}

.footer-icon {
  float: left;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  margin-right: 15px;
  position: relative;

  &.twitter {
    background-image: url('twitter.svg');
  }

  &.github {
    background-image: url('github.svg');
  }
}

.footer-text {
  float: right;
  margin: 0;
  font-weight: 400;
  font-size: 14px;

  .footer-name {
    font-weight: 600;
    color: #444;
    transition: color 0.25s ease-in-out;

    &:hover {
      color: #000;
    }
  }
}
