.textCopyInputContainer {
  display: flex;
  align-items: stretch;
  margin-bottom: 20px;
}

.textCopyInput {
  padding: 15px 20px;
  display: inline-block;
  border: solid 2px #d3d3d3;
  max-width: 350px;
  width: 100%;
  font-size: 15px;
  font-family: 'Asap';
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
}

.copyButton {
  appearance: none;
  border: none;
  background-color: #304556;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-family: 'Asap';
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  padding: 0 25px;
}
