.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navigationBar {
  background-color: #fff;
  padding: 15px 30px;
  position: relative;
  z-index: 10000;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px;
}

.navigationBar h1 {
  color: #304556;
  font-size: 24px;
  line-height: 35px;
}
