.exportModalContent {
  padding: 40px;
}

.exportButtons {
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  margin: 0 auto;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .exportButtons {
    flex-direction: column;
  }
}

.exportModal {
  position: relative;
  background-color: #fff;
  color: #333;
  border-radius: 3px;
}

@media only screen and (max-width: 768px) {
  .exportModal {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}

.exportModalTitle {
  margin: 0;
  padding-right: 25px;
  line-height: 32px;
  font-size: 22px;
  color: #fff;
}

.exportModalHeader {
  padding: 25px;
  display: -ms-flexbox;
  display: flex;
  background-color: #619fcc;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.closeButton {
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 2;
  height: 32px;
  width: 32px;
}

.closeButton:after {
  content: '';
  position: absolute;
  height: 48px;
  width: 48px;
  top: -8px;
  left: -8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.closeButton:hover:after {
  opacity: 1;
}

.exportModalContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

:global(.ReactModal__Overlay) {
  transition: opacity 100ms ease-out;
  opacity: 0;
  background-color: rgba(48, 69, 86, 0.925) !important;
  z-index: 1000000;
}

:global(.ReactModalPortal .ReactModal__Overlay--after-open) {
  opacity: 1;
}

:global(.ReactModalPortal .ReactModal__Overlay--before-close) {
  opacity: 0;
}

:global(.ReactModalPortal .ReactModal__Content) {
  outline: none;
  transition: -webkit-transform 100ms ease-out;
  transition: transform 100ms ease-out;
  transition: transform 100ms ease-out, -webkit-transform 100ms ease-out;
  transform: scale(0.9);
}

:global(.ReactModalPortal .ReactModal__Content--after-open) {
  transform: scale(1);
}

:global(.ReactModalPortal .ReactModal__Content--before-close) {
  transform: scale(0.925);
}
