.theme-dark {
  a, h1, p, input, span {
    color: #444;
  }

  .keyboard-button {
    border: solid 2px #444;
  }

  .spinner div, .line, .circle {
    background-color: #444;
  }
}

.theme-light {
  a, h1, p, input, span {
    color: #FFF;
  }

  .keyboard-button {
    border: solid 2px #FFF;
  }

  .spinner div, .line, .circle {
    background-color: #FFF;
  }
}
